data/*
*.h5
results/resnet_selections/file_*
results/resnet_selections/00_Selections_backup_*
codigo-demostracion/*
sv/*
*.Rhistory
*__init__.py
*__pycache__*
pswd.txt
InputStreamByteWrapper.class
MatlabServer.m
README.html
tmp-audio-clip.dec
tmp-audio-clip.wav
upload_list.txt
.Rproj.user
